<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/main.css">
    <link rel="stylesheet" href="../view/font/fontawesome-free-6.1.1-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../js/main.js">
    <link rel="stylesheet" href="../view/extra.css">
    <title>Tin tức</title>
</head>
<body>
    <body>
        <div class="main">
            <div class="header">
                <div class="header-information">
                    <div class="grid">
                        <div class="header-information_container"> 
                            <ul class="header-information-icon">
                                <li>HOTLINE:0708223608</li>
                                <li style="margin-top: 3px;"> <img src="../view/image/logo/logo_small.png" alt=""
                                        style="width: 15px; "> </li>
                                <li> <a href="">HỆ THỐNG CỬA HÀNG</a> </li>
                                <li style="margin-left: 7px;" class="header-information-icon-1"> <i
                                        class="fa-brands fa-facebook-f" class="class-icon"></i> </li>
                                <li class="header-information-icon-1"><i class="fa-brands fa-instagram"></i></li>
                                <li class="header-information-icon-1"><i class="fa-brands fa-twitter"></i></li>
                                <li class="header-information-icon-1"><i class="fa-regular fa-envelope"></i></li>
                            </ul>
                            <div class="cart_user">
                                <a href="../html/dang_nhap.html" >
                                    <i class="fa-regular fa-user" style="color:aliceblue;"></i>
                                </a>
                              
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping" style="color:aliceblue;margin-left: 30px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="grid">
                    <div class="header-menu-logo-search">
                       
                        <div class="header-lolo">
                            <img src="../view/image/logo/logo-shopdongho.png" alt="" style="margin-top: 15px;">
                        </div>
                        <div class="header-search">
                            <i class="fa-solid fa-magnifying-glass" style="position: absolute; top: 35px; left: 11%;"></i>
                              <input class="header-input" type="text" placeholder="tìm kiếm sản phẩm">
                              <button class="button-header" type="submit">Tìm Kiếm</button>
                        </div>
                    </div>
                </section>
                
                <section class="menu-layout">
                      <div class="grid">
                        <ul class="menu-list">
                            <li><a href="../home.html"><i class="fa-sharp fa-solid fa-house" style="margin-right: 3px;"></i>Trang chủ</a></li>
                            <li class="drop-down-list" style="color: #fff;"><i class="fa-solid fa-store" style="margin-right: 3px;"></i>Sản phẩm
                                 <div class="drop-down">
                                    <ul>
                                        <li><a href="./html/dong_ho_nam.html">Tất cả sản phẩm</a></li>
                                        <li><a href="">Đồng hồ nam</a></li>
                                        <li><a href="">Đồng hồ nữ</a></li>
                                        <li><a href="">Khuyến mãi</a></li>
                                    </ul>
                                 </div>
                            </li>
                            <li><a href=""><i class="fa-sharp fa-solid fa-newspaper" style="margin-right: 3px;"></i> Tin tức</a></li>
                            <li><a href=""><i class="fa-solid fa-ticket-simple" style="margin-right: 3px;"></i>Giới thiệu</a></li>
                        </ul>
                      </div>
                </section>
               
              <section>
                <div class="grid">
                    <img src="../view/image/user/images.png" alt="" style="width: 100%; margin-top: 20px;">
                    <div class="introdue">
                        <img src="../view/image/user/img_main.jpg" alt="" class="img-main">
                        <h2>"Võ Đăng Phát"</h2>
                        <div class="line-main"></div>
                        <p style="margin-top: 20px;font-size: 1.5rem;font-weight: 600;">Web developer</p>
                        <p style="margin-top: 20px;">Đây là website do tôi tự phát triển với mục đích phục vụ cho việc rèn luyện kĩ năng lập trình web và với   </p>
                        <p>mục đích đưa vào cv và không sử dụng cho mục đích mua bán</p>
                        
                    </div>
                </div>
              </section>
    
    
                <div class="container_advertisement">
                    <div class="grid container_advertisement_box ">
                        <div class="container_advertisement_item">
                            <img src="../view/image/banner/award.png" alt="">
                            <p>100% HÀNG CHÍNH HÃN</p>
                        </div>
                        <div class="container_advertisement_item">
                            <img src="../view/image/banner/ReVeI8Y2-shipped.png" alt="">
                            <p>MIỄN PHÍ VẬN CHUYỂN</p>
                        </div>
                        <div class="container_advertisement_item">
                            <img src="../view/image/banner/7qQQ7Pkj-secure-shield.png" alt="">
                            <p>BẢO HÀNH CHÍNH HÃN</p>
                        </div>
                        <div class="container_advertisement_item">
                            <img src="../view/image/banner/mJMpAMmv-return.png" alt="">
                            <p>ĐỔI HÀNG TRONG 7 NGÀY</p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <section  class="grid">
                           <div class="footer-part">
                                 <div class="footer-part-1">
                                     <div class="footer-part-item">
                                         <h5>Về chúng tôi</h5>
                                         <ul>
                                             <li><a href="">Dev : Võ Đăng Phát</a></li>
                                             <li><a href="">Student : industrial University of Ho Chi Minh city </a></li>
                                             <li><a href=""></a></li>
                                             <li><a href=""></a></li>
                                         </ul>
                                     </div>
                                     <div class="footer-part-item">
                                         <h5> Chăm sóc khách hàng </h5>
                                         <ul>
                                             <li><a href="">Các vấn đề thường gặp </a></li>
                                             <li><a href="">Chăm sóc khách hàng</a></li>
                                             <li><a href="">Kế hoạch đổi trả </a></li>
                                             <li><a href="">vấn đề thanh toán </a></li>
                                         </ul>
                                     </div>
                                     <div class="footer-part-item">
                                         <h5>Liên lạc với chúng tôi</h5>
                                         <ul>
                                             <li><a href="">Email: Vodangphat2002@gmai.com</a></li>
                                             <li><a href="">Phone number :0708223608</a></li>
                                             <li><a href="">Facebook: Võ Đăng Phát</a></li>
                                             <li><a href=""></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <div class="footer-part-2">
                                        <input type="email" name="" id="" placeholder="email:">
                                        <button type="submit">Subcribe</button>
                                 </div>
                                
                                
                           </div>
                           <div class="footer-icon">
                             <i class="fa-sharp fa-solid fa-envelope"></i>
                             <i class="fa-brands fa-facebook"></i>
                             <i class="fa-brands fa-instagram"></i>
                           </div>
                           <div class="footer-end">
                             <span>@2023 Vodangphat</span>
                           </div>
                    </section>
                 </div>
            </div>
        </div>
    </body>
</body>
</html>